<div class="col-md-6 col-lg-4">
	<div class="card card-blog" data-background-color="black">
		$if(imgname)$
			<div class="card-image">
				<a href="$url$">
					<img class="img rounded" src="/assets/img/$imgname$">
				</a>
			</div>
		$endif$
        </div>
	<div class="card-body">
		<h5 class="card-title">
			$title$
			$if(author)$
			<br><small>by $author$</small>
			$else$
			<br><small>by myShoggoth</small>
			$endif$
		</h5>
		$if(difficulty)$
		<div>Difficulty: $difficulty$/5</div>
		$endif$
		Play at:
		<ul>
			$if(ctc)$
			<li><a href="$ctc$">Cracking the Cryptic</a></li>
			$endif$
			$if(f-puzzles)$
			<li><a href="$f-puzzles$">F-Puzzles</a></li>
			$endif$
		</ul>
		<p>
			$rules$
		</p>
		$if(solve-jcgodart)$
		<div>Solve videos:</div>
		<ul>
			$if(solve-jcgodart)$
			<li><a href="$solve-jcgodart$">JC Godart Sudoku</a></li>
			$endif$
		</ul>
		$endif$
	</div>
</div>
