<div class="col-md-6 col-lg-4">
	<div class="card card-blog" data-background-color="black">
		$if(imgname)$
			<div class="card-image">
				<a href="$url$">
					<img class="img rounded" src="/assets/img/$imgname$">
				</a>
			</div>
		$endif$
        </div>
	<div class="card-body">
		<h5 class="card-title">
			$title$
			$if(author)$
			<br><small>by $author$</small>
			$else$
			<br><small>by myShoggoth</small>
			$endif$
		</h5>
		$if(difficulty)$
		<div>Difficulty: $difficulty$/5</div>
		$endif$
		$if(player-1)$
		<ol>
			<li><a href="$player-1$">Player 1</a></li>
			<li><a href="$player-2$">Player 2</a></li>
		</ol>
		$else$
		Play at:
		<ul>
			$if(ctc)$
			<li><a href="$ctc$">Cracking the Cryptic</a></li>
			$endif$
			$if(f-puzzles)$
			<li><a href="$f-puzzles$">F-Puzzles</a></li>
			$endif$
		</ul>
		$endif$
		<p>
			$rules$
		</p>
		$if(solve-jcgodart)$
		<div>Solve videos:</div>
		$else$
	    $if(solve-bremster)$
		<div>Solve videos:</div>
		$else$
		$if(solve-rangsk)$
		<div>Solve videos:</div>
		$endif$
		$endif$
		$endif$
		<ul>
			$if(solve-bremster)$
			<li><a href="$solve-bremster$">BremSter</a></li>
			$endif$
			$if(solve-rangsk)$
			<li><a href="$solve-rangsk$">Rangsk</a></li>
			$endif$
			$if(solve-jcgodart)$
			<li><a href="$solve-jcgodart$">JC Godart Sudoku</a></li>
			$endif$
		</ul>
	</div>
</div>
