<div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="card card-plain blog">
          <div class="card-title">&nbsp;</div>
          <div class="card-image">
            <a href="$ctc$">
              <img class="img rounded" src="assets/img/$imgname$">
            </a>
          </div>
          <dl>
            <dt>Cracking the Cryptic</dt>
            <dd><a href="$ctc$">Play on Cracking the Cryptic</a></dd>
            <dt>F-Puzzles</dt>
            <dd><a href="$f-puzzles$">Play on F-Puzzles</a></dd>
          </dl>
          <p>$rules$</p>
          $body$
        </div>
      </div>
    </div>
  </div>

